 /* Tablet & Mobile  */
@media (max-width: 1023px) {
    .btn {
        padding: 15px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    #contact .contact-info {
        line-height: 2;
    }
    .social-list {
        font-size: 48px;
        }

    #footer .social-list a {
        margin-top: 0 8px;
    }

    #footer .copyright a {
        padding: 12px 0;
        display: inline-block;
    }
}


 /* Mobile */
@media (max-width: 739px) {
    .s-col-full, .s-full-width {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn {
        display: block;
    }
    
    #header .search-btn {
        display: none;
    }


    #nav>li {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #nav>li:first-child {
        display: inline-block;
    }
    
    /* #content .member-item {
        width: 100%;

    } */

    #content .member-img {
        width: 60%;
    }

    #contact .contact-form {
        margin-top: 32px;
    }
}